dev/raw_docs/** linguist-generated
dev/site/** linguist-generated
dev/scripts/** linguist-generated
src/katex/** linguist-generated
docs/** linguist-generated
*.sh linguist-generated

dev/constants/tpl/** linguist-documentation
src/assets/** linguist-documentation